<h1 class="text-center">Jetzt anmelden</h1>
<div class="signin-container mx-auto md:w-1/3 mt-10">
        <mat-card>
          <mat-card-content>
            <form class="flex flex-col w-1/2 mx-auto" (ngSubmit)="onLogin()" #signInForm="ngForm">
              <mat-form-field>
                <input matInput placeholder="Email" type="email" [(ngModel)]="email" name="email" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!signInForm.valid">Sign In</button>
            </form>
          </mat-card-content>
        </mat-card>
        <button (click)="goToRegister()" class="text-slate-400 mt-1 cursor italic">Registrieren</button>
      </div>
