<div class="flex justify-end">
    <div class="flex justify-end">
        <div class="relative">
          <div 
          class="h-8 w-8 absolute bottom-[-5px] left-[-15px] bg-yellow-500 text-white p-1 rounded-full z-50 flex items-center justify-center"
          *ngIf="mealplansNotOnShoppingList.length > 0"
          >
            {{mealplansNotOnShoppingList.length}}
          </div>
          <button 
          [disabled]="!mealplansNotOnShoppingList.length" 
          (click)="openAddItemsView()"
          mat-fab color="warn" 
          aria-label="notifications"
          >
            <mat-icon>notifications</mat-icon>
          </button>
        </div>
      </div>       
</div>
<div *ngIf="isShoppingListView; then shoppingListView else addItemsView"></div>
<ng-template #shoppingListView>
  <div
    *ngFor="let item of shoppingList">
    <p>{{ item.recipeIngredient.name }}</p>
  </div>
</ng-template>
<ng-template #addItemsView>
  <div *ngIf="mealplanItemInView">
  <div
  class="w-3/4 mx-auto"
  *ngFor="let item of mealplanItemInView.recipe.recipeIngredients"
  >
<mat-card class="my-5 h-20">
  <mat-card-content>
    <div class="flex justify-between">
    <p class="w-10/12">{{item.name}}</p>
    <div class="flex-grow flex justify-between">
    <button 
    (click)="removeItem(item.id)"
    mat-mini-fab color="warn" 
    aria-label="Example icon button with a menu icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  </div>
  </mat-card-content>
</mat-card>
</div>
</div>
<div class="mx-auto lg:w-1/2 flex justify-around gap-3 mt-20">
  <button (click)="openShoppingListView()" mat-raised-button color="warn">Abbrechen</button>
  <button (click)="addMealplanToShoppingList('finish')" mat-raised-button color="accent">Speichern und Beenden</button>
  <button mat-raised-button color="primary">Speichern und weiter</button>

</div>
</ng-template>
