<div class="flex justify-end">
    <div class="flex justify-end">
        <div class="relative">
          <div 
          class="h-8 w-8 absolute bottom-[-5px] left-[-15px] bg-yellow-500 text-white p-1 rounded-full z-50 flex items-center justify-center"
          *ngIf="mealplansNotOnShoppingList.length > 0"
          >
            {{mealplansNotOnShoppingList.length}}
          </div>
          <button 
          [disabled]="!mealplansNotOnShoppingList.length" 
          (click)="openAddItemsView()"
          mat-fab color="warn" 
          aria-label="notifications"
          >
            <mat-icon>notifications</mat-icon>
          </button>
        </div>
      </div>       
</div>
<div *ngIf="isShoppingListView; then shoppingListView else addItemsView"></div>
<ng-template #shoppingListView>
  <div
    *ngFor="let item of shoppingList">
    <p>{{ item.recipeIngredient.name }}</p>
  </div>
</ng-template>
<ng-template #addItemsView>
  <div
  class="w-3/4 mx-auto"
  *ngFor="let item of mealplanItemInView.recipe.recipeIngredients"
>
<mat-card class="my-5 h-20">
  <mat-card-content>
    <div class="flex justify-between">
    <p class="w-1/2">{{item.name}}</p>
          <mat-form-field>
            <mat-label>Markt</mat-label>
            <mat-select [(ngModel)]="selectedMarket" name="markets">
                <mat-option *ngFor="let market of this.markets" [value]="market">{{marketsService.MarketDisplay[market]}}</mat-option>
            </mat-select>
          </mat-form-field>
    <mat-icon [style.color]="item.isBio ? 'primary' : 'warn'">compost</mat-icon>
  </div>
  </mat-card-content>
</mat-card>
</div>
</ng-template>
