<section class="md:w-1/2 md:min-h-9/10 md:mx-auto md:shadow-paper md:border-x md:border-b">
    <ng-container *ngIf="recipe">
        <div class="h-full w-full p-5">
            <h2 class="text-center">{{recipe.name}}</h2>
            <div class="flex items-center my-10">
                <div class="flex-grow h-[1px] bg-black">
                    <p class="text-xs text-slate-500 text-start">Mahlzeit: {{mealsService.MealDisplay[recipe.defaultMeal]}}</p>
                </div>
                <div class="w-42 h-32 rounded-full mx-[0] my-[10px] overflow-hidden">
                    <img class="w-full h-full" src="/assets/recipe-placeholder.jpg" />
                </div>
                <div class="flex-grow h-[1px] bg-black">
                    <p class="text-xs text-slate-500 text-end">Portionen: {{recipe.defaultPortions}}</p>
                        <button
                        (click)="openSearch()"
                         mat-fab color="primary"
                         >
                            <mat-icon>add</mat-icon>
                        </button>
                </div>
            </div>
        <cdk-accordion 
        *ngFor="let ingredient of recipe.recipeIngredients"
        >
        <div 
        class="mb-5"
        [class]="accordionItem.expanded ? 'shadow-md' : ''"
        >
        <cdk-accordion-item 
        #accordionItem="cdkAccordionItem"
        >

        <div 
        (click)="accordionItem.toggle()"
        class="flex h-16 items-center py-2 px-5 cursor-pointer" [class]="accordionItem.expanded ? '' : 'shadow-md'"
        >
          <p class="w-1/2">{{ingredient.name}}</p>
            <div class="flex flex-grow">
                <div class="basis-1/5">
                    <p class="text-center px-2 border border-slate-100 rounded-md bg-slate-100">{{ingredient.amountPerPortion}} {{unitsService.UnitDisplay[ingredient.unit]}}</p>
                </div>
                <div class="basis-3/5">
                    <p class="text-center">{{marketsService.MarketDisplay[ingredient.market]}}</p>
                </div>
                <div class="basis-1/5">
                    <img *ngIf="ingredient.isBio" class="w-8 h-8 mx-auto" src="assets/organic.png" />
                </div>
            </div>
        </div>
            <div
            class="flex justify-center py-2 bg-slate-100"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            >
            <mat-icon
             class="cursor-pointer"
             color="warn"
             (click)="deleteIngredient(ingredient.id)"
             >delete_forever
             </mat-icon>
            </div>
        </cdk-accordion-item >
    </div>

        </cdk-accordion>
    </div>
    </ng-container>
</section>
<div class="flex justify-center my-5">
    <mat-icon
        class="cursor-pointer"
        color="warn"
        (click)="deleteRecipe()"
        >delete_forever
    </mat-icon>
</div>