<button 
[class]="isMobile ? 'w-full' : 'h-full w-32'"
class="bg-emerald-600 p-2 border-l-2 border-t-2 border-r-2 border-b-0 rounded-tl-lg text-white" 
[ngClass]="getHighlighting('/meine-rezepte')"
(click)="switchScreen('/meine-rezepte')"
>
Meine Rezepte
</button>
<button 
[class]="isMobile ? 'w-full' : 'h-full w-32'"
class="bg-emerald-600 p-2 border-l-0 border-t-2 border-r-2 border-b-0 rounded-tl-lg text-white" 
[ngClass]="getHighlighting('/essensplan')"
(click)="switchScreen('/essensplan')"
>
Essensplan
</button>
<button 
[class]="isMobile ? 'w-full' : 'h-full w-32'"
class="bg-emerald-600 p-2 border-l-0 border-t-2 border-r-2 border-b-0 rounded-tl-lg text-white" 
[ngClass]="getHighlighting('/einkaufszettel')"
(click)="switchScreen('/einkaufszettel')"
>
Einkaufszettel
</button>
<button 
[class]="isMobile ? 'w-full' : 'h-full w-32'"
class="bg-emerald-600 p-2 border-l-0 border-t-2 border-r-2 border-b-0 rounded-tl-lg text-white hover:bg-yellow-400/50" 
(click)="switchScreen('/gemeinschaften')"
>
Gemeinschaften
</button>
<button 
[class]="isMobile ? 'w-full' : 'h-full w-32'"
class="bg-emerald-600 p-2 border-l-0 border-t-2 border-r-2 border-b-0 rounded-tl-lg text-white hover:bg-yellow-400/50" 
(click)="onLogout()"
>
Logout
</button>
