<form class="flex justify-center" [formGroup]="ingredientInput">
    <mat-form-field class="w-2/5">
        <mat-label for="query">Suche Zutat</mat-label>
        <input id="query" formControlName="query" matInput>
    </mat-form-field>
</form>
<section class="flex flex-wrap gap-10 justify-center select-none">
    <div
    *ngFor="let result of results"
    (click)="openDialog()" 
    class="flex items-center justify-center w-1/5 h-20 border border-1 rounded-lg text-xs cursor-pointer"
    >
        <p class="text-center">{{result.document.name}}</p>
    </div>
</section>