<mat-form-field class="w-full">
    <input matInput placeholder="Suche..." [(ngModel)]="query" type="search" name="search" (input)="onSearch()">
  </mat-form-field>
<section class="flex flex-wrap gap-10 justify-center select-none">
    <div
    *ngFor="let result of algoliaResults"
    (click)="openDialog(result.id, result.name)" 
    class="flex items-center justify-center w-1/5 h-20 border border-1 rounded-lg text-xs cursor-pointer"
    >
        <p class="text-center">{{result.name}}</p>
    </div>
</section>
