<!-- Mobile Search Screen -->
<div *ngIf="isMobileDialogOpen">
  <div class="flex justify-end">
    <button mat-icon-button (click)="closeMobileDialog()">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </div>
  <mat-form-field class="w-full">
    <mat-label>Suche</mat-label>
    <input matInput [(ngModel)]="this.mobileSearchQuery">
  </mat-form-field>
  <div class="w-4/5 mx-auto">
    <div
    (click)="openBottomSheet(recipe.id)"
    class="flex my-2 h-16 items-center py-2 px-5 shadow-md cursor-pointer"
    *ngFor="let recipe of searchQueryRecipes()"
    >
        <p class="w-1/2">{{recipe.name}}</p>
    </div>
  </div>
</div> 
<!-- Desktop and Mobile Main Screen -->
<div *ngIf="!isMobileDialogOpen">
<div class="flex items-center justify-center">
    <button mat-icon-button (click)="previousDay()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  
    <div>{{displayDate()}}</div>
  
    <button mat-icon-button (click)="nextDay()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="flex flex-col items-center gap-10">
    <app-mealplan-cards class="w-3/4" [mealKey]="mealsService.MealKey.BREAKFAST" [mealplan]="mealplan" [openDialog]="openDialog"></app-mealplan-cards>
    <app-mealplan-cards class="w-3/4" [mealKey]="mealsService.MealKey.LUNCH" [mealplan]="mealplan" [openDialog]="openDialog"></app-mealplan-cards>
    <app-mealplan-cards class="w-3/4" [mealKey]="mealsService.MealKey.DINNER" [mealplan]="mealplan" [openDialog]="openDialog"></app-mealplan-cards>
  </div>