<div class="flex items-center justify-center">
    <button mat-icon-button (click)="previousDay()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  
    <div>{{displayDate()}}</div>
  
    <button mat-icon-button (click)="nextDay()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="flex flex-col items-center gap-10">
    <div class="w-3/4">
      <h2>{{mealsService.MealDisplay.BREAKFAST}}</h2>
      <div
      class="flex my-2 h-16 items-center py-2 px-5 cursor-pointer shadow-md"
       *ngFor="let item of getMealplanForMealType(mealsService.MealKey.BREAKFAST)">
          <p class="w-1/2">{{item.recipeName}}</p>
            <div class="flex flex-grow">
                
            </div>
      </div>
    </div>
    <div>
      <h2>{{mealsService.MealDisplay.LUNCH}}</h2>
      <div *ngFor="let item of getMealplanForMealType(mealsService.MealKey.LUNCH)">
        <p>{{item.recipeName}}</p>
      </div>
    </div>
    <div>
      <h2>{{mealsService.MealDisplay.DINNER}}</h2>
      <div *ngFor="let item of getMealplanForMealType(mealsService.MealKey.DINNER)">
        <p>{{item.recipeName}}</p>
      </div>
    </div>
  </div>

  <button mat-raised-button (click)="addMealPlanItem()" color="primary">Hinzufügen</button>
  