<!-- Mobile -->
<div *ngIf="isMobileDialogOpen">
  <div class="flex justify-end">
    <button mat-icon-button (click)="closeMobileDialog()">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </div>
  <mat-form-field class="w-full">
    <mat-label>Suche</mat-label>
    <input matInput [(ngModel)]="this.mobileSearchQuery">
  </mat-form-field>
  <div class="w-4/5 mx-auto">
    <div
    (click)="openBottomSheet(recipe.id)"
    class="flex my-2 h-16 items-center py-2 px-5 shadow-md cursor-pointer"
    *ngFor="let recipe of searchQueryRecipes()"
    >
        <p class="w-1/2">{{recipe.name}}</p>
    </div>
  </div>
</div> 
<!-- Desktop -->
<div *ngIf="!isMobileDialogOpen">
<div class="flex items-center justify-center">
    <button mat-icon-button (click)="previousDay()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  
    <div>{{displayDate()}}</div>
  
    <button mat-icon-button (click)="nextDay()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="flex flex-col items-center gap-10">
    <div class="w-3/4">
      <div class="flex gap-5 items-center">
      <h2 class="!m-0 w-28">{{mealsService.MealDisplay.BREAKFAST}}</h2>
      <button mat-mini-fab color="primary" (click)="openDialog(mealsService.MealKey.BREAKFAST)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
      <div
      class="flex my-2 h-16 items-center py-2 px-5 cursor-pointer shadow-md"
       *ngFor="let item of getMealplanForMealType(mealsService.MealKey.BREAKFAST)">
          <p class="w-1/2">{{item.recipeName}}</p>
            <div class="flex flex-grow"> 
      </div>
    </div>
    </div>
    <div class="w-3/4">
      <div class="flex gap-5 items-center">
      <h2 class="!m-0 w-28">{{mealsService.MealDisplay.LUNCH}}</h2>
      <button mat-mini-fab color="primary" (click)="openDialog(mealsService.MealKey.LUNCH)">
        <mat-icon>add</mat-icon>
      </button>
      </div>
      <div *ngFor="let item of getMealplanForMealType(mealsService.MealKey.LUNCH)">
        <p>{{item.recipeName}}</p>
      </div>
    </div>
    <div class="w-3/4">
      <div class="flex gap-5 items-center">
        <h2 class="!m-0 w-28">{{mealsService.MealDisplay.DINNER}}</h2>
        <button mat-mini-fab color="primary" (click)="openDialog(mealsService.MealKey.DINNER)">
          <mat-icon>add</mat-icon>
        </button>
        </div>
      <div *ngFor="let item of getMealplanForMealType(mealsService.MealKey.DINNER)">
        <p>{{item.recipeName}}</p>
      </div>
    </div>
  </div>