<div class="flex justify-end select-none">
    <div class="flex justify-end">
        <div class="relative">
          <div 
          class="h-8 w-8 absolute bottom-[-5px] left-[-15px] bg-yellow-500 text-white p-1 rounded-full z-50 flex items-center justify-center"
          *ngIf="count"
          >
            {{count}}
          </div>
          <button 
          [disabled]="!count" 
          (click)="onClickBell()"
          mat-fab color="warn" 
          aria-label="notifications"
          >
            <mat-icon>notifications</mat-icon>
          </button>
        </div>
      </div>       
</div>
