<section class="p-10">
    <p>Wir verwenden Cookies, um Ihnen das bestmögliche Online-Erlebnis zu bieten. Durch die Nutzung unserer Website erklären Sie sich mit der Verwendung von Cookies gemäß unserer Cookie-Richtlinie einverstanden.</p>
    <p>Nur technisch notwendige Cookies kommen zum Einsatz. Sie können Ihre Cookie-Einstellungen jederzeit ändern. Weitere Informationen finden Sie in unserer <a [href]="environment.frontendBaseUrl + '/datenschutz'">Datenschutzrichtlinie</a>.</p>
<button 
mat-button
class="mx-auto"
[mat-dialog-close]="{
    cookieConsent: true
}"
>
Notwendige Cookies akzeptieren.
</button>
</section>
