<div *ngIf="!isInitialized; else initializedBlock">Loading</div>
<ng-template #initializedBlock>
    <div *ngIf="!!errorMessage; else successBlock">
        Etwas ging schief. Versuchen Sie es mit einem neuen Link.
    </div>
    <ng-template #successBlock>
        <h1>Geschafft!</h1>
        <p>Sie sind jetzt Teil der Gemeinschaft. Klicken Sie auf weiter, um zu den gemeinsamen Rezepten zu gelangen.</p>
        <p>Falls Sie mehreren Gemeinschaften angehören, können Sie jederzeit unter dem Reiter "Gemenischaften" zwischen diesen wechseln.</p>
    </ng-template>
</ng-template>
