<h1>Einleitung</h1>
<p>Die bei uns verwendete Nahrungsmittel Datenbank ist ein abgeleitetes Werk der gemeinnützigen Datenbank der Organisation Open Food Facts (französischer erein "Loi 1901").</p>
<p>Website: <a href="https://de.openfoodfacts.org/" target="_blank">Open Food Facts</a></p>
<p>Für eine Weiterverwendung der Datenbank von Open Food Facts finden Sie weitere Informationen in deren <a href="https://de.openfoodfacts.org/terms-of-use" target="_blank">Nutzungsbedingungen</a>.</p>
<h1>Weiterverwender des abgeleiteten Werkes</h1>
<p>Das von uns abgeleitete Werk steht nach den Vorgaben von Open Food Facts hier zum Download zur Verfügung.</p>
<button>Abgeleitete Datenbank herunterladen</button>
<p>Das abgeleitete Werk steht unter der <a href="https://opendatacommons.org/licenses/odbl/1-0/" target="_blank">Open Database Licence</a> zur Verfügung.</p>
<p>Einzelne Inhalte des abgeleiteten Werkes stehen unter der Lizenz <a href="https://opendatacommons.org/licenses/dbcl/1-0/" target="_blank">Database Contents License</a> zur Verfüugung.</p>
<p>Ansonsten stellen wir keine besonderen Nutzungsbedingungen, die über die Nutzungsbedingungen von Open Food Facts hinausgehen.</p>
