<h1 mat-dialog-title>Details</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="this.name">
        </mat-form-field>
    </div>
        <mat-form-field>
            <mat-label>Mahlzeit</mat-label>
            <mat-select [(ngModel)]="this.selectedMeal" name="meals">
                <mat-option *ngFor="let meal of this.meals" [value]="meal">{{mealsService.MealDisplay[meal]}}</mat-option>
            </mat-select>
          </mat-form-field>
    <div>
        <mat-form-field>
          <mat-label>Menge</mat-label>
          <input matInput [(ngModel)]="this.defaultPortions">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="{
    name: this.name, 
    selectedMeal: this.selectedMeal,
    defaultPortions: this.defaultPortions
    }" cdkFocusInitial>Speichern</button>
</div>
