
<app-shopping-list-bell [count]="mealplanNumberNotOnShoppingList"></app-shopping-list-bell>
<div *ngIf="mealplanItem; else nonBlock">
    <div
    class="md:w-3/4 mx-auto"
    *ngFor="let item of mealplanItem.recipe.recipeIngredients"
    >
        <mat-card class="my-5 h-20">
    <mat-card-content>
      <div class="flex justify-between">
      <p class="w-10/12">{{item.name}}</p>
      <div class="flex-grow flex justify-between">
      <button 
      (click)="removeItem(item.id)"
      mat-mini-fab color="warn" 
      aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    </div>
    </mat-card-content>
  </mat-card>
  </div>
</div>
  <div class="mx-auto lg:w-1/2 flex justify-around gap-3 mt-20">
    <button (click)="openShoppingListView()" mat-raised-button color="warn">Abbrechen</button>
    <button (click)="addMealplanToShoppingList('finish')" mat-raised-button color="accent">Speichern und Beenden</button>
    <div *ngIf="mealplanNumberNotOnShoppingList > 1">
        <button (click)="addMealplanToShoppingList('next')" mat-raised-button color="primary">Speichern und weiter</button>  </div>
  </div>
<ng-template #nonBlock>
    <div></div>
</ng-template>
