
<app-shopping-list-bell [count]="mealplanNumberNotOnShoppingList"></app-shopping-list-bell>
<div class="select-none" *ngIf="mealplanItem; else nonBlock">
    <div
    class="md:w-3/4 mx-auto"
    *ngFor="let item of mealplanItem.recipe.recipeIngredients"
    >
        <mat-card class="my-5 h-20">
    <mat-card-content>
      <div class="flex justify-between">
      <p class="w-10/12">{{item.name}}</p>
      <div class="flex-grow flex justify-between">
      <button 
      (click)="removeItem(item.id)"
      mat-mini-fab color="warn" 
      aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    </div>
    <app-ingredient-source [url]="item.sourceUrl"></app-ingredient-source>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="mx-auto lg:w-1/2 flex justify-around gap-3 mt-20 md:mt-5">
    <button color="warn" title="Abbrechen" mat-fab (click)="openShoppingListView()"><mat-icon>close</mat-icon></button>
    <button title="Speichern und beenden" color="primary" mat-fab (click)="addMealplanToShoppingList('finish')"><mat-icon>add_to_queue</mat-icon></button>
    <div *ngIf="mealplanNumberNotOnShoppingList > 1">
        <button title="Speichern und weiter" color="primary" mat-fab (click)="addMealplanToShoppingList('next')"><mat-icon>queue_play_next</mat-icon></button></div>
  </div>
</div>
<ng-template #nonBlock>
    <div></div>
</ng-template>
