<app-shopping-list-bell [count]="mealplanNumberNotOnShoppingList" [onClick]="openAddItemsView"></app-shopping-list-bell>

<div 
class="md:w-3/4 mx-auto"
*ngFor="let category of categories"
>
  <div *ngIf="shoppingListByCategory[category].length > 0">
    <h2>{{marketsService.ShoppingListDisplay[category]}}</h2>
    <mat-card class="my-2" *ngFor="let item of shoppingListByCategory[category]">
      <mat-card-content>
        <div class="flex">
        <p class="w-1/2">{{item.ingredientName}}</p>
        <p>{{item.totalAmount}} <span>{{unitsService.ShoppingListUnitDisplay[item.unit]}}</span></p>
        <div class="basis-1/5">
          <img *ngIf="item.isBio" class="w-8 h-8 mx-auto" src="assets/organic.png" />
      </div>
      <button 
      class="ml-auto"
      (click)="newRemoveFromShoppingList(item.shoppingListIds)"
      mat-mini-fab color="primary" 
      aria-label="Example icon button with a menu icon">
        <mat-icon>done</mat-icon>
      </button>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
