<mat-form-field class="w-full">
    <mat-label>Suche</mat-label>
    <input matInput [(ngModel)]="this.searchQuery">
  </mat-form-field>
<div class="w-4/5 mx-auto">
    <div
    (click)="selectRecipe(recipe.id)"
    class="flex my-2 h-16 items-center py-2 px-5 shadow-md cursor-pointer"
    [class]="isSelected(recipe.id) ? 'bg-green-200' : ''"
    *ngFor="let recipe of searchQueryRecipes()"
    >
        <p class="w-1/2">{{recipe.name}}</p>
        <div
        *ngIf="isSelected(recipe.id)"
        class="flex justify-end gap-10 flex-grow"
        >
            <p>{{recipe.defaultPortions}}</p>
        </div>
    </div>
</div>
